@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 14px;
}

.product-title{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.product-name{
    font-weight: 700;
}

.discounted-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.light{
    opacity: 0.5;
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.product-card{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-basis: 500px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}



.product-image img{
    width: 100%;
    height: 100%;
}

.product-image-desktop{
    border-radius: 10px 0 0 10px;
}
.product-image-mobile{
    display: none;
}

.product-description-card{
    padding: 10px;
}
.product-description-card ul{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-description-card li{
    padding: 10px;
}

.product-description{
    font-size: 12px;
}
.product-price{
    display: flex;
   gap: 25px;
    align-items: center;
}
.product-price *{
    text-align: center;
}

.actual-price{
    text-decoration: line-through;
}

.add-to-cart-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    padding: 9px;
    transition: background-color 0.15s;
}
.add-to-cart-button > *{
    color: hsl(0, 0%, 100%);
}

.add-to-cart-button:hover{
    background-color: rgb(39, 74, 51);
    cursor: pointer;
}

@media (max-width: 400px){
    .product-card{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 2rem 1rem;
    }
    .product-image-mobile{
        display: block;
        border-radius: 10px 10px 0 0;
    }
    .product-image-desktop{
        display: none;
    }
}
